@using BikeShop.Models

<br />
@{
    IEnumerable<User> user = (IEnumerable<User>)Session["LoggedInUser"];
    if (user != null)
    {
        List<User> users = user.ToList();
        User loggedInUser = users[0];
        <p>Logged in: @loggedInUser.UserName</p>
    }
}
<br />
<p>@TempData["ErrorMessage"].ToString()</p>

