<br />
<h2>User Registration</h2>

<form action="~/Home/MakeNewUser" method="post">
    <p>User Name: </p><input type="text" name="UserName" required />
    <p>Password: </p><input type="password" name="Password" required/>
    <p>Money: </p><input type="number" step=".01" name="Money" required/><br /><br />
    <p><input type="submit" /></p>
</form>

